/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
/watchtower.sublime-project
/watchtower.sublime-workspace
/config.properties
/.idea
/watchtower.iml
/.lein-repl-history
